body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .15);
}

#container {
    max-width: 450px;
    height: 650px;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 25px;
    overflow: hidden;
}

#display {
    width: 100vw;
    font-size: 7rem;
    text-align: end;
    border: none;
    background-color: rgba(0, 0, 0, .9);
    color: white;
}

.keys {
    padding: 15px;
}

button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
    margin: 0.25rem;
}

button:hover {
    background-color: hsl(0, 0%, 30%);
}

button:active {
    background-color: hsl(0, 0%, 40%);
}

.operator, .orange {
    background-color: hsl(39, 100%, 55%);
}

.operator:hover, .orange:hover {
    background-color: hsl(39, 100%, 65%);
}

.operator:active, .orange:active {
    background-color: hsl(39, 100%, 75%);
}

.top-btns {
    background-color: hsl(0, 0%, 50%);
}

/* @media (max-width: 400px) {
    button {
        width: 22%;
        height: 1.5em;
    }
} */