body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .15);
}

#container {
    max-width: 450px;
    height: 650px;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 25px;
    overflow: hidden;
}

#display {
    width: 100%;
    font-size: 7rem;
    text-align: end;
    border: none;
    background-color: rgba(0, 0, 0, .9);
    color: white;
}

.keys {
    padding: 15px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, .15);
}

button:active {
    background-color: rgba(0, 0, 0, .05);
}

.operator-btn {
    background-color: hsl(39, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(39, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(39, 100%, 75%);
}