.container {
    width: 450px;
    height: 600px;
    border: 5px solid red;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}